{% load static from staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
    integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">


  {% block webhead %}

  {% endblock %}
</head>
<style>
  a {
    text-decoration: none;
  }

  a:link {
    color: #000000;
    text-decoration: none;
  }

  a:visited {
    color: #000000;
    text-decoration: none;
  }

  a:hover {
    color: #999999;
    text-decoration: none;
  }

  .bg-layout {
    background: #d3dce6;
    border-radius: 4px;
    min-height: 36px;
    margin-bottom: 20px;
  }
</style>

<body>
  <div id="app">

    <el-row>
      <el-col>
        <!-- :span="22" :offset="1" -->
        <el-container>

          {% include 'navbar.html' %}


          <el-main>
            <el-row>
              <!-- {#  主体#} -->
              <el-col :span="15" :offset="5">
                
        
                {% block webbody %}

                {% endblock %}
              </el-col>
              <!-- {#  侧边栏#}
              <el-col :span="7" :push="2">
                {% block rightbody %}
                {% endblock %}
              </el-col> -->
            </el-row>
          </el-main>

          <el-footer>
            {% include 'footer.html' %}
          </el-footer>


        </el-container>
      </el-col>
    </el-row>


  </div>




</body>

<script>
  new Vue({
    el: '#app',
    data() {
      return {
        activeIndex: '1',
        activeIndex2: '1',
        input_name: '',
        input_email: '',
        textarea_m: '',
        editform:{
          name: "",
          location: "",
          workType: [],
          position: "",
          linkedin: "",
          stack: "",
          email: "",
          github: "",
        },
        editExperience:{
          name: "",
          detail: "",
          field: "",
          time: "",
        },
        dialogTableVisible: false,
        dialogFormVisible: false,
        experienceVisible: false,
        formLabelWidth: '120px',
        dialog: {
          one: false,
          two: false,
          three: false,
          four: false,
          five: false,
        }
        /*index.html*/
        // experience: {{experience|safe}},
        // {% block js %} {% endblock %}
      };
    },
    methods: {
      handleSelect(key, keyPath) {
        console.log(key, keyPath);
      },
      expFunc:function(e){
        console.log(e);
        console.log(e.path[1].id);
        if(e.path[1].id == "1"){
          this.dialog.one = true;
          console.log("1true");
        }
        else if(e.path[1].id == "2"){
          this.dialog.two = true;
          console.log("2true");
        }

        
        // this.experienceVisible = true;
      }

    }
  })
</script>

</html>