<!-- {% load static from staticfiles %} -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{%static 'css/style.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
    integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">


  {% block webhead %}

  {% endblock %}
</head>
<style>
  a {
    text-decoration: none;
  }

  a:link {
    color: #000000;
    text-decoration: none;
  }

  a:visited {
    color: #000000;
    text-decoration: none;
  }

  a:hover {
    color: #999999;
    text-decoration: none;
  }

  .bg-layout {
    background: #d3dce6;
    border-radius: 4px;
    min-height: 36px;
    margin-bottom: 20px;
  }
</style>

<body>
  <div id="app">

    <el-row>
      <el-col>
        <!-- :span="22" :offset="1" -->
        <el-container>

          {% include 'navbar.html' %}
          {% block header %}

          {% endblock %}

          <el-main>
            <el-row>
              <!-- {#  主体#} -->
              <el-col :span="15" :offset="5">


                {% block webbody %}

                {% endblock %}
              </el-col>
              <!-- {#  侧边栏#}
              <el-col :span="7" :push="2">
                {% block rightbody %}
                {% endblock %}
              </el-col> -->
            </el-row>
          </el-main>

          <el-footer>
            {% include 'footer.html' %}
          </el-footer>


        </el-container>
      </el-col>
    </el-row>


  </div>




</body>

<script>
  new Vue({
    el: '#app',
    data() {
      return {
        activeIndex: '1',
        activeIndex2: '1',
        inputVisible: false, //for tag in coder's exp
        inputValue: '', //for tag in coder's exp
        dynamicTags: [""],
        editform: {
          name: "",
          location: "",
          workType: [],
          position: "",
          linkedin: "",
          stack: "",
          email: "",
          github: "",
        },
        editExperience: {
          company: "",
          position: "",
          detail: "",
          field: "",
          time: "",
        },
        addSkill: {
          company: "",
          position: "",
          detail: "",
          field: "",
          time: "",
        },
        dialogTableVisible: false,
        dialogFormVisible: false,
        experienceVisible: false,
        editSkillExp: false,
        formLabelWidth: '120px',
        /*index.html*/
        // experience: {{experience|safe}},
        // {% block js %} {% endblock %}
        activeName: 'first',
        update: {
          company: '',
          position: '',
          detail: '',
          field: '',
          time: '',
          id: '',
        },
        dialogUpdateVisible: false,

      };
    },
    methods: {
      handleSelect(key, keyPath) {
        console.log(key, keyPath);
      },
      handleClose(tag) {
        this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1);
      },

      showInput() {
        this.inputVisible = true;
        this.$nextTick(_ => {
          this.$refs.saveTagInput.$refs.input.focus();
        });
      },

      handleInputConfirm() {
        let inputValue = this.inputValue;
        if (inputValue) {
          this.dynamicTags.push(inputValue);
        }
        this.inputVisible = false;
        this.inputValue = '';
      },

      handleClick(tab, event) {
        console.log(tab, event);
      },
      setCurrent: function (e) {
        this.currentId = 'user.id';
        this.update.company = '';
        this.update.position = 'user.phone';
        this.update.detail = 'user.email';
        this.update.field = 'user.is_active';
        this.update.time = 'user.is_active';
        this.dialogUpdateVisible = true;
        console.log(e);
      },
      handleEdit(id, row) {
        console.log(row);
        this.dialogUpdateVisible = true;
        this.update.company = row.name;
        // this.update.position = 'user.phone';
        this.update.detail = row.detail;
        this.update.id = id;
        console.log(this.update.id);
        // this.update.field = 'user.is_active';
        // this.update.time = 'user.is_active';
      },
      // expFunc:function(e){
      //   console.log(e);
      //   console.log(e.path[1].id);
      //   if(e.path[1].id == "1"){
      //     // this.dialog.one = true;
      //     this.tf[1] = true;
      //     console.log("1true");
      //   }
      //   else if(e.path[1].id == "2"){
      //     // this.dialog.two = true;
      //     this.tf[2] = true;
      //     console.log(this.tf[2])
      //     console.log("2true");
      //   }
      //}

      // this.experienceVisible = true;


    }
  })
</script>

</html>