{% extends "base.html" %}
{% load static from staticfiles %}

{% block webhead %}
<meta charset="UTF-8">
<meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
{% endblock %}

{% block webbody %}

<el-row :gutter="20">
    <el-col :span="8">
        <div style="margin-bottom: 20px;">
            <el-row type="flex" justify="center">
                <el-avatar shape="square" :size="150" :src="profilePic" @error="errorHandler">
                    <img src="https://cube.elemecdn.com/e/fd/0fc7d20532fdaf769a25683617711png.png" />
                </el-avatar>
            </el-row>
            <el-row align="bottom" type="flex" justify="center">
                <h1>{{cpy.name}}</h1>
            </el-row>
        </div>

    </el-col>
    <el-col :span="16">
        <h2>Location: &nbsp; &nbsp;{{cpy.location}}</h2>
        <h2>Industry: &nbsp; &nbsp;{{cpy.industry}}</h2>
        <el-divider><i class="el-icon-aim"></i></el-divider>
        <span>{{cpy.intro}}</span>
    </el-col>
</el-row>
<el-row :gutter="20">
    <div style="margin-bottom: 20px;">
        <el-button-group style="width: 100%;">
            <el-button plain style="width: 49%" type="text" @click="C_applicationVisible = true">Application
            </el-button>
            <el-dialog title="Received Application" :visible.sync="C_applicationVisible" :close-on-click-modal="false">
                <el-table :data="{{appli|safe}}">
                    <el-table-column property="applicant" label="Applicant" width="150"></el-table-column>
                    <el-table-column property="job" label="Position"></el-table-column>
                    <el-table-column property="time" label="Submitted Date" width="200"></el-table-column>

                    <el-table-column align="right">
                        <template slot-scope="scope">
                            <el-button size="mini" @click="viewedAppli(scope.$index, scope.row)">Viewed</el-button>
                            <el-button size="mini" @click="moreAppli(scope.$index, scope.row)">More</el-button>
                            <el-button size="mini" type="danger" @click="deleteAppli(scope.$index, scope.row)">Delete
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-dialog>
            <el-button plain style="width: 49%;" type="text" @click="C_editInfoVisible = true">Edit Info</el-button>
        </el-button-group>
        <el-button plain style="margin-left: 30%; margin-top: 10px; width: 40%;" type="success"
            @click="C_applyVisible = true">Apply</el-button>
        <el-dialog title="Apply" :visible.sync="C_applyVisible" :close-on-click-modal="false">
            <el-form :model="apply" method="post" action="{% url 'getCompanyInfo' cpy.id  %}">
                {% csrf_token %}
                <el-form-item label="Position" :label-width="formLabelWidth">
                    <el-select v-model="apply.position" placeholder="select" name="position">
                        {% for i in jobList %}
                        <el-option value="{{i.name|safe}}" label="{{i.name|safe}}" ></el-option>
                        <!-- <el-option label="区域一" value="shanghai"></el-option>
                        <el-option label="区域二" value="beijing"></el-option> -->
                        {% endfor %}
                    </el-select>
                </el-form-item>
                <el-form-item label="Extra info" :label-width="formLabelWidth">
                    <el-input type="textarea" v-model="apply.detail" name="detail" autocomplete="off"
                        placeholder="anything you want us to know!">
                    </el-input>
                </el-form-item>
                <input type="hidden" name="id" value="{{ cpy.id }}">
                <input type="hidden" name="form" value="apply">
                <el-button native-type="submit" style="margin-left: 88%;">Submint</el-button>
            </el-form>
        </el-dialog>
    </div>
</el-row>
<el-row :gutter="20">
    <el-col>
        <div>
            <el-tabs tab-position="left">
                <el-tab-pane label="Company Info">
                    <el-row :gutter="20">
                        <el-col :span="20" :offset="2">
                            <el-table :data="{{basicInfo|safe}}" stripe style="width: 100%">
                                <el-table-column prop="item">
                                </el-table-column>
                                <el-table-column prop="content">
                                </el-table-column>
                            </el-table>
                        </el-col>
                    </el-row>
                    <el-row :gutter="20">
                        <el-col :span="20" :offset="1">
                            <h2 style="text-align: center;">About us</h2>
                        </el-col>

                        <el-col :span="20" :offset="1">
                            <el-divider content-position="left">
                                <h3>Who we are</h3>
                            </el-divider>
                            <span>{{cpy.description}}</span>
                            <el-divider content-position="left">
                                <h3>Vision</h3>
                            </el-divider>
                            <span>{{cpy.vision}}</span>
                            <el-divider content-position="left">
                                <h3>Company Visit</h3>
                            </el-divider>
                            <span>{{cpy.companyVisit}}</span>
                        </el-col>
                    </el-row>
                    <el-row :gutter="20" style="margin-top: 20px;">
                        <el-col :span="8" :offset="8">
                            <a href="{{ cpy.linkedin }}" target="_blank"><i class="fab fa-linkedin fa-2x"
                                    style="margin-right: 10px;"></i></a>
                            <a href="{{ cpy.email }}" target="_blank"><i class="fas fa-envelope-square fa-2x"
                                    style="margin-right: 10px;"></i></a>
                            <a href="{{ cpy.twitter }}" target="_blank"><i class="fab fa-twitter-square fa-2x"
                                    style="margin-right: 10px;"></i></a>
                            <a href="{{ cpy.ins }}" target="_blank"><i class="fab fa-instagram-square fa-2x"
                                    style="margin-right: 10px;"></i></a>
                            <a href="{{ cpy.facebook }}" target="_blank"><i class="fab fa-facebook-square fa-2x"
                                    style="margin-right: 10px;"></i></a>
                        </el-col>
                    </el-row>
                </el-tab-pane>
                <el-tab-pane label="Opening Position">
                    <el-button type="text" @click="" icon="el-icon-plus"
                        style="margin-right: 5px; font-size: 1.3rem; float: right;"></el-button>
                    <el-button type="text" @click="" icon="el-icon-edit"
                        style="margin-right: 5px; font-size: 1.3rem; float: right;"></el-button>
                    <el-button type="text" @click="" icon="el-icon-minus"
                        style="margin-right: 5px; font-size: 1.3rem; float: right;"></el-button>
                    <el-tabs v-model="jobTab" type="card">
                        {% for i in jobList %}
                        <el-tab-pane label="{{i.name}}">
                            <el-col :span="20" :offset="1">
                                <h3>Team Mission</h3>
                                <div>{{i.mission}}</div>
                                <h3>Team Current Stage</h3>
                                <div>{{i.stage}}</div>
                                <h3>What you will do</h3>
                                <div>{{i.work}}</div>
                                <h3>Contact</h3>
                                <div>{{i.contact}}</div>
                            </el-col>
                        </el-tab-pane>
                        {% endfor %}
                    </el-tabs>
                </el-tab-pane>
            </el-tabs>
        </div>
    </el-col>
</el-row>

{% endblock %}