{% extends "base.html" %}
{% load static from staticfiles %}

{% block webhead %}
<meta charset="UTF-8">
<meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
{% endblock %}




{% block webbody %}

<!-- {% if commend_list %}

<el-carousel :interval="4000" type="card" height="250px" style="margin-bottom: 5px">
    <el-carousel-item v-for="(wen,index) in commend_list" :key="index">
        <el-card class="box-card" style="height: 95%; background:url('{% static 'bg/1.jpg' %}')">
            <div style="padding-top: 40%">
                {% verbatim %}
                <a :href = "'/b/details/'+  wen.title ">
                    <h3 style="text-align: center;color: grey">{{ wen.title }}</h3>
                </a>
                {% endverbatim %}
            </div>
        </el-card>
    </el-carousel-item>
</el-carousel>

{% endif %}


{% for blog in blog_list %}
    <el-card class="box-card">
      <div class="text item">
          <a href="{% url "blog:details" blog.title %}" style="font-size: 20px; font-weight: bold;color: #00CC66">{{ blog.title }}</a>
          <br>
          {{ blog.summary|safe }}
      </div>
        <hr>
        <span style="font-size: 12px">
            <i class="el-icon-date"></i> &nbsp; {{ blog.create_at|date:"M d Y" }}
        </span>
        <span style="margin-right: 30px"></span>
        <span style="font-size: 12px">
            <i class="el-icon-edit"></i> &nbsp; {{ blog.author }}
        </span>
        <span style="margin-right: 30px"></span>
        {% ifnotequal blog.views 0 %}
        <span style="font-size: 12px">
            <i class="el-icon-view"></i> &nbsp; {{ blog.views }}
        </span>
        {% endifnotequal %}
        <span style="font-size: 12px; float: right">
            <a href="{% url "blog:details" blog.title %}" style="color: #CCCCFF">阅读更多>></a>
        </span>
    </el-card>
<br>
{% endfor %}

{% if cus_list.previous_page_number > 0 %}
    <a href="?page={{ cus_list.previous_page_number }}">
        <el-button  round>
                <span aria-hidden="true"><i class="el-icon-d-arrow-left"></i></span>
        </el-button>
    </a>
{% endif %}


{#分页#}
{% for pg in cus_list.paginator.page_range %}

    {% if cus_list.number == pg %}
        <a href="?page={{ pg }}"><el-button type="info" round>{{ pg }}</el-button></a>
    {% elif pg < cus_list.number|add:3 and pg > cus_list.number|add:-3 %}
        <a href="?page={{ pg }}"><el-button  round>{{ pg }}</el-button></a>
    {% endif %}

{% endfor %}


{% if cus_list.has_next %}
    <a href="?page={{ cus_list.next_page_number }}">
        <el-button  round>
                <span aria-hidden="true"><i class="el-icon-d-arrow-right"></i></span>
        </el-button>
    </a>
{% endif %} -->

<el-row :gutter="20">
    <el-col :span="8">
        <div style="margin-bottom: 20px;">
            <el-row type="flex" justify="center">
                <!-- <div class="bg-layout"> -->
                <el-avatar shape="square" :size="150" :src="profilePic" @error="errorHandler">
                    <img src="https://cube.elemecdn.com/e/fd/0fc7d20532fdaf769a25683617711png.png" />
                </el-avatar>
                <!-- </div> -->
            </el-row>
            <el-row align="bottom" type="flex" justify="center">
                <!-- <div class="bg-layout"> -->
                <h1>{{name}}</h1>
                <!-- </div> -->
            </el-row>
        </div>
    </el-col>
    <el-col :span="16">
        <div style="margin-bottom: 20px;">
            <h2>Location: {{location}}</h2>
            <h2>Type: {{workType}}</h2>
            <h2>Position: {{position}}</h2>
            <a href="{{ linkedin }}" target="_blank"><i class="fab fa-linkedin fa-2x"
                    style="margin-right: 10px;"></i></a>
            <a href="{{ email }}" target="_blank"><i class="fas fa-envelope-square fa-2x"
                    style="margin-right: 10px;"></i></a>
            <a href="{{ stackoverflow }}" target="_blank"><i class="fab fa-stack-overflow fa-2x"
                    style="margin-right: 10px;"></i></a>
            <a href="{{ github }}" target="_blank"><i class="fab fa-github-square fa-2x"
                    style="margin-right: 10px;"></i></a>
        </div>
    </el-col>
</el-row>
<el-row :gutter="20">
    <div style="margin-bottom: 20px;">
        <el-button-group style="width: 100%;">
            <el-button plain style="width: 49%" type="text" @click="dialogTableVisible = true">My Application
            </el-button>
            <el-dialog title="My Application" :visible.sync="dialogTableVisible" :close-on-click-modal="false">
                <el-table :data="gridData">
                    <el-table-column property="date" label="Time" width="150"></el-table-column>
                    <el-table-column property="name" label="Company" width="200"></el-table-column>
                    <el-table-column property="address" label="Status"></el-table-column>
                </el-table>
            </el-dialog>

            <el-button plain style="width: 49%;" type="text" @click="dialogFormVisible = true">Edit Profile</el-button>
            <el-dialog title="Edit Profile" :visible.sync="dialogFormVisible" :close-on-click-modal="false">
                <H1>Personal Info</H1>
                <el-form :model="editform" method="post" action="{% url 'editProfile' %}">
                    <!-- action="editProfile"> -->
                    {% csrf_token %}
                    <el-form-item label="Name" :label-width="formLabelWidth">
                        <el-input placeholder={{name}} v-model="editform.name" name="username" autocomplete="off">
                        </el-input>
                    </el-form-item>
                    <el-form-item label="Location" :label-width="formLabelWidth">
                        <el-input placeholder={{location}} v-model="editform.location" name="location"
                            autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="Position" :label-width="formLabelWidth">
                        <el-input placeholder={{position}} v-model="editform.position" name="position"
                            autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="Job Type" :label-width="formLabelWidth">
                        <el-checkbox-group v-model="editform.workType" name="workType">
                            <el-checkbox label="Full time" name="workType"></el-checkbox>
                            <el-checkbox label="Part time" name="workType"></el-checkbox>
                            <el-checkbox label="Remote" name="workType"></el-checkbox>
                            <el-checkbox label="Local" name="workType"></el-checkbox>
                        </el-checkbox-group>
                    </el-form-item>
                    <h1>Contact</h1>
                    <el-form-item label="Linkedin Link" :label-width="formLabelWidth">
                        <el-input placeholder={{linkedin}} v-model="editform.linkedin" name="linkedin"
                            autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="Github Link" :label-width="formLabelWidth">
                        <el-input placeholder={{github}} v-model="editform.github" name="github" autocomplete="off">
                        </el-input>
                    </el-form-item>
                    <el-form-item label="Stack Overflow" :label-width="formLabelWidth">
                        <el-input placeholder={{stackoverflow}} v-model="editform.stack" name="stack"
                            autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="email" :label-width="formLabelWidth">
                        <el-input placeholder={{email}} v-model="editform.email" name="email" autocomplete="off">
                        </el-input>
                    </el-form-item>
                    <input type="hidden" name="id" value="{{ userID }}">
                    <el-button native-type="submit" style="margin-left: 88%;">save</el-button>
                    <!-- <button type="submit">save</button> -->
                </el-form>
            </el-dialog>
        </el-button-group>
    </div>
</el-row>
<el-row :gutter="20">
    <el-col>
        <div>
            <el-tabs tab-position="left">
                <el-tab-pane label="Working experience">
                    <el-row :gutter="20">
                        <el-col :span="23" :offset="1">
                            <div style="margin-top: 20px;">
                                <span style="font-weight:bold;">Industry:</span>
                                {% for i in industryType %}
                                <el-tag effect="plain" style="margin-left: 5px;">
                                    {{i|safe}}
                                </el-tag>
                                {% endfor%}
                                <el-button type="text" icon="el-icon-edit" style="margin-left: 40%; font-size: 1.3rem;"></el-button>
                                <el-dialog title="Edit Experience" :visible.sync="experienceVisible"
                                    :close-on-click-modal="false">
                                    <H1>name</H1>
                                    <el-form :model="editExperience" method="post" action="{% url 'editProfile' %}">
                                        {% csrf_token %}
                                        <el-form-item label="name" :label-width="formLabelWidth">
                                            <el-input v-model="editExperience.name" name="username" autocomplete="off">
                                            </el-input>
                                        </el-form-item>
                                        <input type="hidden" name="id" value="{{ userID }}">
                                        <el-button native-type="submit" style="margin-left: 88%;">save</el-button>
                                    </el-form>
                                </el-dialog>
                                <el-button type="text" icon="el-icon-plus" style="font-size: 1.3rem; margin-left: 5px;"></el-button>
                                <el-dialog title="Edit Experience" :visible.sync="experienceVisible"
                                    :close-on-click-modal="false">
                                    <H1>name</H1>
                                    <el-form :model="editExperience" method="post" action="{% url 'editProfile' %}">
                                        {% csrf_token %}
                                        <el-form-item label="name" :label-width="formLabelWidth">
                                            <el-input v-model="editExperience.name" name="username" autocomplete="off">
                                            </el-input>
                                        </el-form-item>
                                        <input type="hidden" name="id" value="{{ userID }}">
                                        <el-button native-type="submit" style="margin-left: 88%;">save</el-button>
                                    </el-form>
                                </el-dialog>
                            </div>
                        </el-col>
                    </el-row>
                    <el-row style="margin-top: 10px">
                        <el-col span="23" :offset="1">
                            {% for i in experience %}
                            <el-row style="margin-top: 10px">
                                <el-card class="box-card">
                                    <div slot="header" class="clearfix">
                                        <span style="font-size: 18px;">{{i.name|safe}}</span>
                                        <el-button id="{{i.id}}" value="hellollo" type="text" @click="expFunc($event)"
                                            icon="el-icon-edit" style="float: right; font-size: 1.3rem;"></el-button>
                                        <el-dialog title="Edit Experience" :visible.sync="experienceVisible"
                                            :close-on-click-modal="false">
                                            <H1>name</H1>
                                            <el-form :model="editExperience" method="post"
                                                action="{% url 'editProfile' %}">
                                                {% csrf_token %}
                                                <el-form-item label="name" :label-width="formLabelWidth">
                                                    <el-input v-model="editExperience.name" name="username"
                                                        autocomplete="off"></el-input>
                                                </el-form-item>
                                                <el-form-item label="time" :label-width="formLabelWidth">
                                                    <el-input v-model="editExperience.time" name="time"
                                                        autocomplete="off"></el-input>
                                                </el-form-item>
                                                <el-form-item label="field" :label-width="formLabelWidth">
                                                    <el-input v-model="editExperience.field" name="field"
                                                        autocomplete="off"></el-input>
                                                </el-form-item>
                                                <el-form-item label="detail" :label-width="formLabelWidth">
                                                    <el-input v-model="editExperience.detail" name="detail"
                                                        autocomplete="off"></el-input>
                                                </el-form-item>
                                                <span style="font-size: 18px;">{{i.name|safe}}</span>
                                                <!-- <input type="hidden" name="expID" value="{{ i.name|safe }}"> -->
                                                <input type="hidden" name="id" value="{{ userID }}">
                                                <el-button native-type="submit" style="margin-left: 88%;">save
                                                </el-button>
                                            </el-form>
                                        </el-dialog>
                                        <!-- <h5 class="field">FINTECH</h5> -->
                                        <!-- <el-button style="float: right; padding: 3px 0" type="text">操作按钮</el-button> -->
                                    </div>
                                    <div>{{ i.detail|safe }}</div>
                                </el-card>
                            </el-row>
                            {% endfor%}
                        </el-col>
                    </el-row>
                </el-tab-pane>
                <el-tab-pane label="Skill / Project">
                    <el-row :gutter="20">
                        <el-col :span="23" :offset="1">
                            <div style="margin-top: 20px;">
                                <span style="font-weight:bold;">Skill:</span>
                                {% for i in skillType %}
                                <el-tag effect="plain" style="margin-left: 5px;">
                                    {{i|safe}}
                                </el-tag>
                                {% endfor%}
                            </div>
                        </el-col>
                    </el-row>
                    <el-row style="margin-top: 10px">
                        <el-col span="23" :offset="1">
                            {% for i in project %}
                            <el-row style="margin-top: 10px">
                                <el-card class="box-card">
                                    <div slot="header" class="clearfix">
                                        <span style="font-size: 18px;">{{i.name|safe}}</span>
                                        <!-- <h5 class="field">FINTECH</h5> -->
                                        <!-- <el-button style="float: right; padding: 3px 0" type="text">操作按钮</el-button> -->
                                    </div>
                                    <div>{{ i.detail|safe }}</div>
                                </el-card>
                            </el-row>
                            {% endfor%}
                        </el-col>
                    </el-row>
                </el-tab-pane>
                <el-tab-pane label="others">OTHERS</el-tab-pane>
            </el-tabs>
        </div>
    </el-col>
</el-row>



{% endblock %}


{% block js %}
<!-- commend_list: {{ commend_list|safe }}, -->
<!-- name: {{name|safe}}, -->

{% endblock %}


<style>

</style>