<el-header>
  <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
    <el-menu-item index="6"><a href="{% url 'getHomePage' %}">Home</a></el-menu-item>
    <el-menu-item index="7">Why Eniac</el-menu-item>
    <el-menu-item index="8">How Eniac works</el-menu-item>
    <el-menu-item index="9">FAQ</el-menu-item>
    {#              <el-menu-item index="8"><a href="https://gist.github.com/ngauerh">Gist</a></el-menu-item>#} 
    {% if request.user.is_authenticated %}
    <el-menu-item index="10" style="float: right;"><a href="/accounts/logout/">Sign Out</a></el-menu-item>
    <el-menu-item index="11" style="float: right;">
      <a href="/user/{{ request.user.username }} ">
      <div class="demo-type">
        <el-avatar :size="35" src="">
          <img src="{{ request.user.socialaccount_set.all.0.get_avatar_url }}" />
        </el-avatar>
      </div>
      </a>
    </el-menu-item>
    {% else %}
    <a href="/accounts/login/"><el-menu-item index="10" style="float: right;">Login</el-menu-item></a>
    <a href="/accounts/signup/"><el-menu-item index="11" style="float: right;">Sign Up</el-menu-item></a>
    {% endif %}
    {#              <el-menu-item index="5"><i class="el-icon-search"></i></el-menu-item>#}
  </el-menu>
  <div class="line"></div>

  <br><br>
</el-header>